@page "/organizations"
@using Hatcherling.Shared.Models

<h3>Organizations</h3>

@if (organizations == null)
{
    <p>Loading Data...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var org in organizations)
            {
                <tr>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Organization> organizations = new List<Organization>();
}
